# Structures de données : les listes

Les listes (on dit aussi tableau) sont des séquences d'éléments :

In [2]:
fruits = ["bananes", "pommes", "poires"]

In [3]:
panier_marie = [("bananes", 4), ("pommes", 1), ("poires", 0)]

Ici on a une liste de couples String * int

In [4]:
panier_pierre = [("bananes", 4), ("pommes", 1), ("poires", 0), ("cerises", 25)]

In [5]:
paniers_personnes = [panier_pierre, panier_marie]

In [6]:
paniers_personnes

[[('bananes', 4), ('pommes', 1), ('poires', 0), ('cerises', 25)],
 [('bananes', 4), ('pommes', 1), ('poires', 0)]]

Tous les éléments d'une liste doivent être du même type. Une liste peut contenir plusieurs éléments identiques

In [7]:
personnes = ["pierre", "marie", "pierre"]

In [8]:
personnes

['pierre', 'marie', 'pierre']

Comme les listes sont des séquences, il y a un premier élément, un dernier élément etc.

In [10]:
personnes[0]

'pierre'

In [11]:
personnes[2]

'pierre'

In [12]:
personnes[len(personnes) - 1]

'pierre'

In [13]:
personnes.append("paul")

In [14]:
personnes

['pierre', 'marie', 'pierre', 'paul']

In [15]:
personnes[1:]

['marie', 'pierre', 'paul']

In [16]:
personnes[:1]

['pierre']

In [17]:
personnes[1:2]

['marie']

In [18]:
x = "paul"
if x in personnes:
    print(x + " est une personne !")

paul est une personne !

Concatenation de listes :

In [20]:
tous_les_paniers = panier_marie + panier_pierre

In [21]:
tous_les_paniers

[('bananes', 4),
 ('pommes', 1),
 ('poires', 0),
 ('bananes', 4),
 ('pommes', 1),
 ('poires', 0),
 ('cerises', 25)]

In [22]:
tous_les_paniers.remove(("bananes", 4))

In [23]:
tous_les_paniers

[('pommes', 1),
 ('poires', 0),
 ('bananes', 4),
 ('pommes', 1),
 ('poires', 0),
 ('cerises', 25)]

le 'remove' retire la première occurrence d'un élement dans la liste.

In [24]:
tous_les_paniers.insert(2, ("fraises", 14))

In [25]:
tous_les_paniers

[('pommes', 1),
 ('poires', 0),
 ('fraises', 14),
 ('bananes', 4),
 ('pommes', 1),
 ('poires', 0),
 ('cerises', 25)]

In [27]:
tous_les_paniers.clear()

In [28]:
tous_les_paniers

[]

## Exercice 1 - Somme des éléments d’un tableau (= liste)

On considère l’algorithme suivant (proche de l’exemple E3.1 du Polycopié d’Algorithmique) qui permet d’initialiser un tableau par lecture au clavier puis de calculer la somme de ses éléments.  

**lexique**  
N : constante entière 10  
T : tableau sur [0..N - 1] d’entiers  
Somme : entier {pour calculer la somme}

**début**  
pour i allant de 0 a N - 1 : Ecrire(“Saisissez un entier”); Lire($T_i$)  
Somme $\leftarrow$ 0  
pour i allant de 0 a N - 1 : Somme $\leftarrow$ Somme + $T_i$  
Ecrire(Somme)  
**fin**  

Q1. Traduire cet algorithme *somme_tab* en Python

Q2. Créez un fichier de nom donnees.txt contenant 10 entiers (un par ligne). Exécutez maintenant le
programme *somme_donnees* ci-dessous.

## Exercice 2 - Recherche séquentielle
On considère un tableau T de 10 entiers. On souhaite savoir si ce tableau contient un entier x donné. On utilise pour cela l’algorithme suivant :  

**lexique**  
N : constante entière 10  
T : tableau sur [0..N - 1] d’entiers x : entier  
j : entier sur 0..N  

**début**  
{Lecture du tableau}  
pour i allant de 0 a N - 1 : Ecrire(“Saisissez un entier”); Lire($T_i$)  
Ecrire(“Entier à chercher ?”) ; Lire(x)  
{Recherche de l’entier x dans T}  
j $\leftarrow$ 0  
tantque $j<N$ etpuis $T_j \neq x: j \leftarrow j+1$  
si $j < N$ alors Ecrire(“trouvé” j) sinon Ecrire(“non trouvé”)  
**fin**
    
Q1. Traduire cet algorithme en Python.

## Exercice 3 - Algorithme de tri

Nous allons utiliser un *tri par insertion*. Il existe de nombreux autres algorithmes de tri. Ce qui les distingue est leur performance. Voici le principe du tri par insertion :

- créer un tableau vide appelé "sorted". On appele le tableau à trier "toSort",
- rechercher le plus petit élément de toSort et le placer à la première position de sorted,
- rechercher ensuite le deuxième élément le plus petit dans toSort et le placer en deuxième position de sorted,
- continuer de la même façon jusqu’à ce que le tableau sorted soit entièrement trié.

Voici un exemple du fonctionnement de l’algorithme sur le tableau [10, 9, 5, 7, 3] :

| sorted     | toSort |
| :---        |    :----:   |
| []      | [10, 9, 5, 7, 3]       |
| [3]      | [10, 9, 5, 7]       |
| [3, 5]      | [10, 9, 7]       |
| [3, 5, 7]      | [10, 9]       |
| [3, 5, 7, 9]      | [10]       |
| [3, 5, 7, 9, 10]      | []       |

Q1. Ecrire l'algorithme de tri par insertion  
Q2. Traduire cet algorithme en Python  
Q3. Evaluer les performances de votre programme par rapport à celles de la méthode *sorted()* de la bibliothèque standard de Python.